In [52]:
import pandas as pd
import numpy as np

In [53]:
books = pd.read_csv("../Data/books.csv")
ratings = pd.read_csv("../Data/ratings.csv")

print(books.columns)
print(ratings.columns)

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')
Index(['user_id', 'book_id', 'rating'], dtype='object')

In [54]:
books = books[['book_id','authors','title']]
print(books.columns)

Index(['book_id', 'authors', 'title'], dtype='object')

In [79]:
popularity_matrix = pd.DataFrame(ratings.groupby('book_id',as_index=False)['rating'].count())

popularity_matrix.info()
books.info()
popularity_matrix.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 2 columns):
book_id    10000 non-null int64
rating     10000 non-null int64
dtypes: int64(2)
memory usage: 234.4 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
book_id    10000 non-null int64
authors    10000 non-null object
title      10000 non-null object
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

   book_id  rating
0        1   22806
1        2   21850
2        3   16931
3        4   19088
4        5   16604

In [84]:
new_popularity_matrix = pd.merge(popularity_matrix, books, on='book_id').sort_values('rating',ascending=False)
new_popularity_matrix.head()

,book_id,rating,authors,title
0,1,22806,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)"
1,2,21850,"J.K. Rowling, Mary GrandPré",Harry Potter and the Sorcerer's Stone (Harry P...
3,4,19088,Harper Lee,To Kill a Mockingbird
2,3,16931,Stephenie Meyer,"Twilight (Twilight, #1)"
4,5,16604,F. Scott Fitzgerald,The Great Gatsby